.alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  color: $gray-900;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
  background-image: none;
  padding: 1rem;
  font-size: $font-size-base;
  border: $border-width solid transparent;
  border-radius: $border-radius-lg;
  display: flex;
  flex-wrap: nowrap;
  min-width: 10rem;
}

.alert-primary {
  @include alert-style($primary);
}
.alert-success {
  @include alert-style($success);
}
.alert-danger {
  @include alert-style($danger);
}
.alert-warning {
  @include alert-style($warning);
}
.alert-default {
  @include alert-style($secondary);
}

.alert-content {
  flex: 1;
}

.alert-message {
  font-size: $h6-font-size;
  margin-bottom: 0;
}

.alert-description {
  margin: 0.5rem 0 0;
  font-size: $font-size-sm;
  white-space: normal;
  line-height: $line-height-base;
}

.alert-close {
  display: inline-block;
  height: 1.5rem;
  color: $gray-600;
  font-size: $font-size-sm;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: 0.2s;
  &:hover {
    color: $gray-700;
  }
  &:focus,
  &.focus {
    color: $gray-700;
  }
}
